.nav-pills-container {
    padding: 1rem;
}

.nav-pills .nav-link {
    margin-bottom: 0.5rem;
}

.tab-content {
    padding: 1rem;
    background-color: white;
}

/*Boton de roles*/
.role-buttons {
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .sub-role-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    border: none;
    background: none;
  }
  
  .sub-role-button:hover {
    background-color: #b2ebf2;
  }
  
  .nav-pills-container .nav-pills .nav-link {
    display: flex;
    align-items: center;
  }
  
  .nav-pills-container .nav-pills .nav-link .fa-icon {
    margin-right: 10px;
  }

  /*Dashboar*/
  .nav-pills .nav-link {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px; /* Espacio entre icono y texto */
  }
  .nav-pills .sub-role-button {
    margin-left: 20px; /* Sangría para sub-roles */
  }